<!--<%= provide(:title, "") %>-->

<!-- start section -->
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(<%= image_path('img/banner/banner1.jpg') %>">
            <div class="col-sm-7">
                <h1 class="text-white">Explore. Discover. Share</h1>
                <p class="regular text-white">Listty helps to find out great things arround you</p>
                <form class="form-inline" action="listing-sidebar-map-left.html" method="">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Find</div>
                            <input type="text" class="form-control input-lg" id="findItem" placeholder="What are you looking for?">
                            <div class="input-group-addon addon-right"><i class="fa fa-th-list" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">Near</div>
                            <input type="text" class="form-control input-lg" id="nearLocation" placeholder="Location">
                            <div class="input-group-addon addon-right"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-default btn-lg">Search <i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
            </div>
        </div>
    </div><!-- end container -->
</div>
<!-- end section -->

<!-- start section -->
<section class="section light-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="box-info">
                    <a href="javascript:void(0);">
                        <div class="box-info-inner">
                            <i class="fa fa-car"></i>
                            <h6 class="alt-font">Free Delivery</h6>
                            <i>Over $500</i>
                        </div>
                    </a>
                </div><!-- end box-info -->
            </div><!-- end col -->
            <div class="col-md-4 col-sm-6">
                <div class="box-info">
                    <a href="javascript:void(0);">
                        <div class="box-info-inner">
                            <i class="fa fa-gift"></i>
                            <h6 class="alt-font">Make a Gift</h6>
                            <i>20% Off</i>
                        </div>
                    </a>
                </div><!-- end box-info -->
            </div><!-- end col -->
            <div class="col-md-4 col-sm-6">
                <div class="box-info">
                    <a href="javascript:void(0);">
                        <div class="box-info-inner">
                            <i class="fa fa-refresh"></i>
                            <h6 class="alt-font">Free Return</h6>
                            <i>for 1 week</i>
                        </div>
                    </a>
                </div><!-- end box-info -->
            </div><!-- end col -->
        </div><!-- end row -->                
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <ul class="nav nav-pills style1">
                        <li class="active">
                            <a href="#newArrivals" data-toggle="tab">
                                New Arrivals
                            </a>
                        </li>
                        <li>
                            <a href="#topRated" data-toggle="tab">
                                Top Rated
                            </a>
                        </li>
                        <li>
                            <a href="#onSale" data-toggle="tab">
                                On Sale
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content pills">
                    <div class="tab-pane active" id="newArrivals">
                        <div class="row column-4">
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top left primary-background text-white semi-circle">Sale</span>
                                            <span class="product-badge top right text-warning">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img class="front" src="<%= image_path('img/products/men_01.jpg') %>" alt="">
                                                <img class="back" src="<%= image_path('img/products/men_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top right danger-background text-white semi-circle">-20%</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/women_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom left warning-background text-white semi-circle">Out of Stock</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/bags_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom right info-background text-white semi-circle">New</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/fashion_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/hoseholds_05.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/kids_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/shoes_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/technology_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end tab-pane -->
                    <div class="tab-pane" id="topRated">
                        <div class="row column-4">
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top left primary-background text-white semi-circle">Sale</span>
                                            <span class="product-badge top right text-warning">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img class="front" src="<%= image_path('img/products/men_02.jpg') %>" alt="">
                                                <img class="back" src="<%= image_path('img/products/men_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top right danger-background text-white semi-circle">-20%</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/women_04.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom left warning-background text-white semi-circle">Out of Stock</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/bags_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom right info-background text-white semi-circle">New</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/fashion_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/hoseholds_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/kids_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/shoes_02.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/technology_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end tab-pane -->
                    <div class="tab-pane" id="onSale">
                        <div class="row column-4">
                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top left primary-background text-white semi-circle">Sale</span>
                                            <span class="product-badge top right text-warning">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img class="front" src="<%= image_path('img/products/men_03.jpg') %>" alt="">
                                                <img class="back" src="<%= image_path('img/products/men_04.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge top right danger-background text-white semi-circle">-20%</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/women_03.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom left warning-background text-white semi-circle">Out of Stock</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/bags_03.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <div class="badges">
                                            <span class="product-badge bottom right info-background text-white semi-circle">New</span>
                                        </div>
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/fashion_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/hoseholds_03.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/kids_03.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/shoes_01.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->

                            <div class="col-sm-6 col-md-3">
                                <div class="thumbnail store style1">
                                    <div class="header">
                                        <figure class="layer">
                                            <a href="javascript:void(0);">
                                                <img src="<%= image_path('img/products/technology_03.jpg') %>" alt="">
                                            </a>
                                        </figure>
                                        <div class="icons">
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="caption">
                                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                                        <div class="price">
                                            <small class="amount off">$68.99</small>
                                            <span class="amount text-primary">$59.99</span>
                                        </div>
                                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                                    </div><!-- end caption -->
                                </div><!-- end thumbnail -->
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end tab-pane -->
                </div><!-- end pills content -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- start section -->
<section class="light-backgorund">
    <div class="container-fluid">
        <div class="row grid-space-0">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box-banner">
                    <figure>
                        <img src="<%= image_path('img/banners/banner_01.jpg') %>" alt="">
                        <figcaption class="box-middle">
                            <div class="banner-content">
                                <h4 class="title alt-font text-primary">Save Up - 25%</h4>
                                <p class="subtitle text-dark">Lorem Ipsum dolar sit amet</p>
                                <a href="#" class="btn btn-default semi-circle btn-sm">Shop Now</a>
                            </div><!-- end banner-content -->
                        </figcaption>
                    </figure>
                </div><!-- end box-banner -->
            </div><!-- end col --> 
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box-banner">
                    <figure>
                        <img src="<%= image_path('img/banners/banner_03.jpg') %>" alt="">
                        <figcaption class="box-middle">
                            <div class="banner-content">
                                <h4 class="title alt-font text-primary">Work Desk</h4>
                                <p class="subtitle text-dark">Lorem Ipsum dolar sit amet</p>
                                <a href="#" class="btn btn-default semi-circle btn-sm">Shop Now</a>
                            </div><!-- end banner-content -->
                        </figcaption>
                    </figure>
                </div><!-- end box-banner -->
            </div><!-- end col -->
            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="box-banner">
                    <figure>
                        <img src="<%= image_path('img/banners/banner_02.jpg') %>" alt="">
                        <figcaption class="box-middle">
                            <div class="banner-content">
                                <h4 class="title alt-font text-primary">New Chairs</h4>
                                <p class="subtitle text-dark">Lorem Ipsum dolar sit amet</p>
                                <a href="#" class="btn btn-default semi-circle btn-sm">Shop Now</a>
                            </div><!-- end banner-content -->
                        </figcaption>
                    </figure>
                </div><!-- end box-banner -->
            </div><!-- end col --> 
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrap">
                    <h2 class="title lines">Featured Product</h2>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        
        <div class="row column-4">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge top left primary-background text-white semi-circle">Sale</span>
                            <span class="product-badge top right text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                            </span>
                        </div>
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img class="front" src="<%= image_path('img/products/men_02.jpg') %>" alt="">
                                <img class="back" src="<%= image_path('img/products/men_01.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge top right danger-background text-white semi-circle">-20%</span>
                        </div>
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/women_04.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge bottom left warning-background text-white semi-circle">Out of Stock</span>
                        </div>
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/bags_02.jpg') %>" alt="">
                            </a>
                        </figure>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <div class="badges">
                            <span class="product-badge bottom right info-background text-white semi-circle">New</span>
                        </div>
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/fashion_02.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/hoseholds_01.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/kids_02.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/shoes_02.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->

            <div class="col-sm-6 col-md-3">
                <div class="thumbnail store style1">
                    <div class="header">
                        <figure class="layer">
                            <a href="javascript:void(0);">
                                <img src="<%= image_path('img/products/technology_01.jpg') %>" alt="">
                            </a>
                        </figure>
                        <div class="icons">
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-heart-o"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);"><i class="fa fa-gift"></i></a>
                            <a class="icon semi-circle" href="javascript:void(0);" data-toggle="modal" data-target=".productQuickView"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="caption">
                        <h6 class="regular"><a href="shop-single-product-v1.html">Lorem Ipsum dolor sit</a></h6>
                        <div class="price">
                            <small class="amount off">$68.99</small>
                            <span class="amount text-primary">$59.99</span>
                        </div>
                        <a href="javascript:void(0);"><i class="fa fa-cart-plus mr-5"></i>Add to cart</a>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end col -->
        </div><!-- end row -->
        
        <!-- Modal Product Quick View -->
        <div class="modal fade productQuickView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h5>Lorem ipsum dolar sit amet</h5>
                    </div><!-- end modal-header -->
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class='carousel slide product-slider' data-ride='carousel' data-interval="false">
                                    <div class='carousel-inner'>
                                        <div class='item active'>
                                            <figure>
                                                <img src='<%= image_path('img/products/men_01.jpg') %>' alt='' />
                                            </figure>
                                        </div><!-- end item -->
                                        <div class='item'>
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NrmMk1Myrxc"></iframe>
                                            </div>
                                        </div><!-- end item -->
                                        <div class='item'>
                                            <figure>
                                                <img src='<%= image_path('img/products/men_03.jpg') %>' alt='' />
                                            </figure>
                                        </div><!-- end item -->
                                        <div class='item'>
                                            <figure>
                                                <img src='<%= image_path('img/products/men_04.jpg') %>' alt='' />
                                            </figure>
                                        </div><!-- end item -->
                                        <div class='item'>
                                            <figure>
                                                <img src='<%= image_path('img/products/men_05.jpg') %>' alt=''/>
                                            </figure>
                                        </div><!-- end item -->

                                        <!-- Arrows -->
                                        <a class='left carousel-control' href='.product-slider' data-slide='prev'>
                                            <span class='fa fa-angle-left'></span>
                                        </a>
                                        <a class='right carousel-control' href='.product-slider' data-slide='next'>
                                            <span class='fa fa-angle-right'></span>
                                        </a>
                                    </div><!-- end carousel-inner -->

                                    <!-- thumbs -->
                                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                        <li data-target='.product-slider' data-slide-to='0' class='active'><img src='<%= image_path('img/products/men_01.jpg') %>' alt='' /></li>
                                        <li data-target='.product-slider' data-slide-to='1'><img src='<%= image_path('img/products/men_02.jpg') %>' alt='' /></li>
                                        <li data-target='.product-slider' data-slide-to='2'><img src='<%= image_path('img/products/men_03.jpg') %>' alt='' /></li>
                                        <li data-target='.product-slider' data-slide-to='3'><img src='<%= image_path('img/products/men_04.jpg') %>' alt='' /></li>
                                        <li data-target='.product-slider' data-slide-to='4'><img src='<%= image_path('img/products/men_05.jpg') %>' alt='' /></li>
                                        <li data-target='.product-slider' data-slide-to='5'><img src='<%= image_path('img/products/men_06.jpg') %>' alt='' /></li>
                                    </ol><!-- end carousel-indicators -->
                                </div><!-- end carousel -->
                            </div><!-- end col -->
                            <div class="col-sm-7">
                                <p class="text-gray alt-font">Product code: 1032446</p>

                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star text-warning"></i>
                                <i class="fa fa-star-half-o text-warning"></i>
                                <span>(12 reviews)</span>
                                <h4 class="text-primary">$79.00</h4>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                                <hr class="spacer-10">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected>Color</option>
                                            <option value="red">Red</option>
                                            <option value="green">Green</option>
                                            <option value="blue">Blue</option>
                                        </select>
                                    </div><!-- end col -->
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <select class="form-control" name="select">
                                            <option value="">Size</option>
                                            <option value="">S</option>
                                            <option value="">M</option>
                                            <option value="">L</option>
                                            <option value="">XL</option>
                                            <option value="">XXL</option>
                                        </select>
                                    </div><!-- end col -->
                                    <div class="col-md-4 col-sm-12">
                                        <select class="form-control" name="select">
                                            <option value="" selected>QTY</option>
                                            <option value="">1</option>
                                            <option value="">2</option>
                                            <option value="">3</option>
                                            <option value="">4</option>
                                            <option value="">5</option>
                                            <option value="">6</option>
                                            <option value="">7</option>
                                        </select>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <hr class="spacer-10">
                                <ul class="list list-inline">
                                    <li><button type="button" class="btn btn-default btn-md round"><i class="fa fa-shopping-basket mr-5"></i>Add to Cart</button></li>
                                    <li><button type="button" class="btn btn-gray btn-md round"><i class="fa fa-heart mr-5"></i>Add to Wishlist</button></li>
                                </ul>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end modal-body -->
                </div><!-- end modal-content -->
            </div><!-- end modal-dialog -->
        </div><!-- end productRewiew -->
        
    </div><!-- end container -->
</section>
<!-- end section -->

<!-- Swiper slider-->
<div class="swiper-container swiper-coverflow">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(<%= image_path('img/slider/slider_06.jpg') %>">
            <div>
                <h1 class="text-white">The 1st of its kind</h1>
                <h6 class="regular text-white">Lorem Ipsum dolor sit amit</h6>
                <hr class="spacer-10 no-border">
                <a href="javascript:void(0);" class="btn btn-default btn-md semi-circle">See Products</a>
            </div>
        </div><!-- end swiper-slider -->
        <div class="swiper-slide" style="background-image: url(<%= asset_path 'img/slider/slider_02.jpg' %>)">
            <div class="slider-content">
                <div class="box text-left">
                    <h1 class="text-uppercase text-white">Big Sale</h1>
                    <h5 class="regular text-white">Selected article starting from</h5>
                    <h1 class="big-title text-danger">50% Off</h1>
                    <a href="javascript:void(0);" class="btn btn-danger btn-md semi-circle">See the deal</a>
                </div>
                <div class="box text-right hidden-xs hidden-sm fa">
                    <img src="<%= image_path('img/products/men_06.PNG') %>" alt="" />
                </div>
            </div><!-- end slider-content -->
        </div><!-- end swiper-slider -->
        <div class="swiper-slide" style="background-image: url(<%= asset_path 'img/slider/slider_05.jpg' %>)">
            <div class="slider-content">
                <div class="box text-left hidden-xs hidden-sm">
                    <img src="<%= image_path('img/products/bags_03.PNG') %>" alt="" />
                </div>
                <div class="box text-right">
                    <h6 class="text-white">We are friend</h6>
                    <h2 class="regular text-white">All For Women and Men</h2>
                    <h1 class="big-title text-warning">70% Off</h1>
                    <a href="javascript:void(0);" class="btn btn-warning btn-md semi-circle">See the deal</a>
                </div>
            </div><!-- end slider-content -->
        </div><!-- end swiper-slider -->
    </div><!-- end swiper wrapper -->
    <!-- Pagination -->
    <div class="swiper-pagination swiper-pagination-h"></div>
    <!-- Arrows -->
    <div class="swiper-button-next swiper-button-white"></div>
    <div class="swiper-button-prev swiper-button-white"></div>
</div><!-- end swiper-container -->


<!-- start section -->
<section class="section white-backgorund">
    <div class="container">
        
        <div class="row">
            <div class="col-sm-12">
                <div class="title-wrap">
                    <h2 class="title lines">Last from Blog</h2>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        
        <div id="owl-demo" class="owl-carousel column-3 owl-theme">
            <div class="item">
                <div class="thumbnail blog">
                    <div class="header">
                        <figure>
                            <img src="<%= image_path('img/blog/blog_01.jpg') %>" alt="">
                        </figure>
                        <div class="meta">
                            <span><i class="fa fa-calendar mr-5"></i>Oct 25, 2016</span>
                            <span><i class="fa fa-comment mr-5"></i>(15)</span>
                            <span><i class="fa fa-heart mr-5"></i>(35)</span>
                        </div>
                    </div>
                    <div class="caption">
                        <h6><a href="blog-article-v1.html">Care & Clean Instructions</a></h6>
                        <div class="author-category">
                            <span class="author mr-20">
                                <i class="fa fa-user mr-5"></i><a href="javascript:void(0);">Joe Doe</a>
                            </span>
                            <span class="category">
                                <a href="javascript:void(0);">Post Formats</a>
                            </span>
                        </div>
                        <p>Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum, est justo faucibus quam, sed eleifend arcu nulla id eros.</p>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end item -->
            <div class="item">
                <div class="thumbnail blog">
                    <div class="header">
                        <figure>
                            <img src="<%= image_path('img/blog/blog_02.jpg') %>" alt="">
                        </figure>
                        <div class="meta">
                            <span><i class="fa fa-calendar mr-5"></i>Oct 25, 2016</span>
                            <span><i class="fa fa-comment mr-5"></i>(15)</span>
                            <span><i class="fa fa-heart mr-5"></i>(35)</span>
                        </div>
                    </div>
                    <div class="caption">
                        <h6><a href="blog-article-v1.html">Design for Work Place</a></h6>
                        <div class="author-category">
                            <span class="author mr-20">
                                <i class="fa fa-user mr-5"></i><a href="javascript:void(0);">Joe Doe</a>
                            </span>
                            <span class="category">
                                <a href="javascript:void(0);">Post Formats</a>
                            </span>
                        </div>
                        <p>Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum, est justo faucibus quam, sed eleifend arcu nulla id eros.</p>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end item -->
            <div class="item">
                <div class="thumbnail blog">
                    <div class="header">
                        <figure>
                            <img src="<%= image_path('img/blog/blog_03.jpg') %>" alt="">
                        </figure>
                        <div class="meta">
                            <span><i class="fa fa-calendar mr-5"></i>Oct 25, 2016</span>
                            <span><i class="fa fa-comment mr-5"></i>(15)</span>
                            <span><i class="fa fa-heart mr-5"></i>(35)</span>
                        </div>
                    </div>
                    <div class="caption">
                        <h6><a href="blog-article-v1.html">Style your Bedroom</a></h6>
                        <div class="author-category">
                            <span class="author mr-20">
                                <i class="fa fa-user mr-5"></i><a href="javascript:void(0);">Joe Doe</a>
                            </span>
                            <span class="category">
                                <a href="javascript:void(0);">Post Formats</a>
                            </span>
                        </div>
                        <p>Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum, est justo faucibus quam, sed eleifend arcu nulla id eros.</p>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end item -->
            <div class="item">
                <div class="thumbnail blog">
                    <div class="header">
                        <figure>
                            <img src="<%= image_path('img/blog/blog_04.jpg') %>" alt="">
                        </figure>
                        <div class="meta">
                            <span><i class="fa fa-calendar mr-5"></i>Oct 25, 2016</span>
                            <span><i class="fa fa-comment mr-5"></i>(15)</span>
                            <span><i class="fa fa-heart mr-5"></i>(35)</span>
                        </div>
                    </div>
                    <div class="caption">
                        <h6><a href="blog-article-v1.html">Decorating Tips</a></h6>
                        <div class="author-category">
                            <span class="author mr-20">
                                <i class="fa fa-user mr-5"></i><a href="javascript:void(0);">Joe Doe</a>
                            </span>
                            <span class="category">
                                <a href="javascript:void(0);">Post Formats</a>
                            </span>
                        </div>
                        <p>Aenean semper lacus sed molestie sollicitudin. In semper, tellus id posuere interdum.</p>
                    </div><!-- end caption -->
                </div><!-- end thumbnail -->
            </div><!-- end item -->
        </div><!-- end owl carousel -->
        
        <div class="row text-center">
            <div class="col-sm-12">
                <a href="javascript:void(0);" class="btn btn-default semi-circle btn-sm">All from blog</a>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end conteiner -->
</section>
<!-- end section -->

<!-- start section -->
<section class="light-backgorund">
    <div class="container-fluid">
        <div class="row grid-space-0">
            <div class="col-md-6 col-lg-3">
                <div class="shop-category">
                    <div class="category-img">
                        <img src="<%= image_path('img/categories/cat_01.png') %>" alt="">
                    </div><!-- end category-img -->
                    <div class="category-name">
                        <a href="javascript:void(0);"><h5 class="title">Mens</h5></a>
                        <p>Lorem Ipsum dolar sit amet</p>
                    </div><!-- end category-name -->
                </div><!-- end category -->
            </div><!-- end col -->
            <div class="col-md-6 col-lg-3">
                <div class="shop-category">
                    <div class="category-img">
                        <img src="<%= image_path('img/categories/cat_02.png') %>" alt="">
                    </div><!-- end category-img -->
                    <div class="category-name">
                        <a href="javascript:void(0);"><h5 class="title">Womens</h5></a>
                        <p>Lorem Ipsum dolar sit amet</p>
                    </div><!-- end category-name -->
                </div><!-- end category -->
            </div><!-- end col -->
            <div class="col-md-6 col-lg-3">
                <div class="shop-category">
                    <div class="category-img">
                        <img src="<%= image_path('img/categories/cat_03.PNG') %>" alt="">
                    </div><!-- end category-img -->
                    <div class="category-name">
                        <a href="javascript:void(0);"><h5 class="title">Kids</h5></a>
                        <p>Lorem Ipsum dolar sit amet</p>
                    </div><!-- end category-name -->
                </div><!-- end category -->
            </div><!-- end col -->
            <div class="col-md-6 col-lg-3">
                <div class="shop-category">
                    <div class="category-img">
                        <img src="<%= image_path('img/categories/cat_04.PNG') %>" alt="">
                    </div><!-- end category-img -->
                    <div class="category-name">
                        <a href="javascript:void(0);"><h5 class="title">Bags</h5></a>
                        <p>Lorem Ipsum dolar sit amet</p>
                    </div><!-- end category-name -->
                </div><!-- end category -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>
<!-- end section -->


    