<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    
    <!-- Meta info from bootstrap theme -->
    <%= render "layouts/metainfo" %>
	
    <!--Favicon-->
    <%= favicon_link_tag 'img/favicon.ico', rel: 'shortcut icon', type: 'image/x-icon' %>

    <!-- Google sources from bootstrap theme -->
    <%= render "layouts/googlesources" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Suport for old browsers -->
    <%= render "layouts/shim" %>

  </head>

  <body>

    <!-- Top Bar -->
    <%= render "layouts/topbar" %>

    <!-- Navbar -->
    <% if controller_name == "static_pages" && action_name == "home" %>
        <%= render "layouts/header1" %>
    <% else %>
        <%= render "layouts/header2" %>
    <% end %>

    <!-- Content -->
    <%= yield %>

    <!-- Footer -->
    <%= render "layouts/footer" %>

    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!-- Initialize Swiper slide -->
    <%= render "layouts/swiperslider" %>

  </body>
</html>
